<!doctype html>
<html class="no-js" lang="zxx">

<!-- Mirrored from preview.colorlib.com/theme/itkol/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Apr 2021 18:29:50 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sports-Zen</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="qq.png">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://preview.colorlib.com/theme/itkol/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://preview.colorlib.com/theme/itkol/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://preview.colorlib.com/theme/itkol/assets/css/slicknav.css">
    <link rel="stylesheet" href="https://preview.colorlib.com/theme/itkol/assets/css/animate.min.css">
    <link rel="stylesheet" href="https://preview.colorlib.com/theme/itkol/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="https://preview.colorlib.com/theme/itkol/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://preview.colorlib.com/theme/itkol/assets/css/themify-icons.css">
    <link rel="stylesheet" href="https://preview.colorlib.com/theme/itkol/assets/css/slick.css">
    <link rel="stylesheet" href="https://preview.colorlib.com/theme/itkol/assets/css/nice-select.css">
    <link rel="stylesheet" href="https://preview.colorlib.com/theme/itkol/assets/css/style.css">
</head>

<body>
    <header>
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="menu-wrapper d-flex align-items-center justify-content-between">
                                <div class="left-content d-flex align-items-center">
                                    <div class="logo mr-30">
                                        <a href="index.html"><img src="new.png" style="width: 260px;" alt=""></a>
                                    </div>

                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="index.html">Home</a></li>

                                                <li><a href="#ser">Services</a></li>
                                                <li><a href="#ab">About</a>
                                                    <ul class="submenu">
                                                        <li><a href="#ab">Why our project matters?</a></li>
                                                        <li><a href="#how">How does it work?</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#team">Team</a></li>

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <br>

                                <div class="buttons">
                                    <ul>
                                        <li class="button-header"></li>
                                        <a href="#" class="header-btn2 border-btn2">Redirect to Tool</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="slider-area  ">

        <div class="single-sliders slider-height   d-flex align-items-center"
            style="height: 715px; position:relative;  bottom:100px;">

            <div class="container position-relative">
                <div class="row align-items-center">

                    <div class="col-xl-5 col-lg-6 col-md-6">

                        <div class="">

                            <div id="tt">

                                <h1 id="oo">We're here to promote Unpopular Sports <br>
                                    <span class="txt-rotate" data-period="2000"
                                        data-rotate='[ "buyers.","lovers."]'></span>
                                </h1>
                                <script src="/js/script.js"></script>
                            </div>
                        </div>
                    </div>

                    <div class="hero-shape">
                        <img src="https://preview.colorlib.com/theme/itkol/assets/img/hero/hero-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="categories-area section-padding" id="ser">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-10">

                    <div class="section-tittle text-center mb-35">
                        <span>Our Services</span>
                        <h2>Services our Decentralized Application offers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <img src="https://static.thenounproject.com/png/2404409-200.png" style="width: 80px;"
                                alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="https://artmlclassify.herokuapp.com/"> AR Sporting Moments </a></h5>
                            <h5><a href="https://preview.colorlib.com/theme/itkol/services.html">For Sport Lovers </a>
                            </h5>
                            <p>People from all over the world can buy online Sports NFTs(physical and digital) where
                                travelling has become tough.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnIlyCa-DkrWmhKpQdYXbnM9RtQSJbtSZNZouflH4OBm12lhX48zVE6Gb7DNCVFlm9ZD0&usqp=CAU"
                                style="width:80px;" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="https://tripetto.app/run/QW6IZHB3SQ">NFTs Buyer Section </a></h5>
                            <p>This allows budding Sportsmen to sell their amazing sporting moments from their home
                                through the blockchain.</p> <br>
                            <h5><a href="https://preview.colorlib.com/theme/itkol/services.html">For budding Sportsmen
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="about-area2 section-padding gray-bg " id="ab">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-10">

                    <div class="about-img">
                        <img src="https://img.freepik.com/free-photo/school-boy-yellow-shirt-taking-virtual-classes-raising-hand_23-2148766714.jpg?size=626&ext=jpg&ga=GA1.2.1592009306.1617148800"
                            class="responsive" alt="">
                    </div>

                </div>
                <div class="col-xl-5 col-lg-6 col-md-10">
                    <div class="about-caption mb-50">

                        <div class="section-tittle mb-50">
                            <h2>About Us.</h2>
                        </div>

                        <h3><a> Why our project matters? </a></h3>
                        <p>In order to bring in more recognition and to make such things mainstream, we are planning to
                            take some important moments
                            from the games played by players/teams and take certain moments and make NFTs of those
                            situations.

                            For example: Let’s take a chess game, between 2 players, we will capture some really amazing
                            moments and put them up for
                            voting in this blockchain application. An amount of the transaction will go the promotion of
                            these unpopular sports in
                            India and also for the upliftment of its players.
                            The best voted ones will be put up in an auction from where users can put bids on the
                            various available NFT's and the
                            highest bidder will own that NFT.





                        </p>
                    </div>
                </div>

                <br id="how">
                <div class="">
                    <h3><a href="#">How does it work?</a></h3>

                    We are also planning to give a virtual preview of the NFT using Augmented Reality(similar to preview
                    for products). This
                    will give the sneak peek to the NFT and the one thing which makes our idea unique and novel
                    <p>The best voted ones will be put up in an auction from where users can put bids on the various
                        available NFT's and the
                        highest bidder will own that NFT.

                        We are also planning to give a virtual preview of the NFT using Augmented Reality(similar to
                        preview for products). This
                        will give the sneak peek to the NFT and the one thing which makes our idea unique and novel


                    </p>
                    <a href="" class="btn mt-20">Redirect to our tool!</a>

                </div>
            </div>
        </div>
        </div>

        </div>

        </div>

    </section>


    <section id="team" class="services-area2 section-padding2">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-11">

                    <div class="section-tittle section-tittle2 mb-55">

                        <h2 class="px-5">Our team</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-3 col-sm-6">
                    <div class="single-cat mb-30 text-center">
                        <div class="cat-icon">
                            <a href="https://www.linkedin.com/in/aman-sharma-70078a1bb/"><img src="aman.jpg"
                                    width="300px " class="responsive" alt="">
                                <p class="text-white"> "I believe in creating something that is not only technologically
                                    advanced but also
                                    useful
                                    to our community!"</p>
                            </a>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="https://www.linkedin.com/in/aman-sharma-70078a1bb/">Aman Sharma</a></h5>
                        </div>
                    </div>
                    <div class="single-cat mb-30 text-center">
                        <div class="cat-icon">
                            <a href="https://www.linkedin.com/in/sahas-vivek-9217801a0/"><img src="aman.jpg"
                                    width="300px " class="responsive" alt="">
                                <p class="text-white"> "I love to live in the present and create stuff adn enjoy the
                                    process of building"</p>
                            </a>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="https://www.linkedin.com/in/sahas-vivek-9217801a0/">Sahas Vivek</a></h5>
                        </div>
                    </div>
                    <div class="single-cat mb-30 text-center">
                        <div class="cat-icon">
                            <a href="https://www.linkedin.com/in/avinash-singh-b992ba1ba/"><img src="aman.jpg"
                                    width="300px " class="responsive" alt="">
                                <p class="text-white">"destroy(Learning)==death"</p>
                            </a>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="https://www.linkedin.com/in/avinash-singh-b992ba1ba/">Avinash Singh</a></h5>
                        </div>
                    </div>
                    <div class="single-cat mb-30 text-center">
                        <div class="cat-icon">
                            <a href="https://www.linkedin.com/in/dibyan-goswami-640757205/"><img src="aman.jpg"
                                    width="300px " class="responsive" alt="">
                                <p class="text-white">"Learning and deploying projects for fun!"</p>
                            </a>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="https://www.linkedin.com/in/dibyan-goswami-640757205/">Dibyan Goswami</a></h5>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-xl-12">

                </div>
            </div>
        </div>
    </section>

    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>


    <script src="https://preview.colorlib.com/theme/itkol/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/popper.min.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/bootstrap.min.js"></script>

    <script src="https://preview.colorlib.com/theme/itkol/assets/js/owl.carousel.min.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/slick.min.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/jquery.slicknav.min.js"></script>

    <script src="https://preview.colorlib.com/theme/itkol/assets/js/wow.min.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/jquery.magnific-popup.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/jquery.nice-select.min.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/counterup.min.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/waypoints.min.js"></script>

    <script src="https://preview.colorlib.com/theme/itkol/assets/js/contact.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/jquery.form.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/jquery.validate.min.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/mail-script.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="https://preview.colorlib.com/theme/itkol/assets/js/plugins.js"></script>
    <script src="https://preview.colorlib.com/theme/itkol/assets/js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

</body>
<div class="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Mirrored from preview.colorlib.com/theme/itkol/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Apr 2021 18:29:50 GMT -->

</html>