<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/leaderboard.css">
    <title>Daily UI #019 - Leaderboard</title>
</head>

<body>
    <!-- 	<div class="blog">Visit <a href="#" target="_blank">My Blog</a></div> -->
    <div class="container">
        <div class="leaderboard">
            <div class="head">
                <i class="fas fa-crown"></i>
                <h1>Most active Players</h1>
            </div>
            <div class="body">
                <ol>
                    <li>
                        <mark>Jerry Wood</mark>
                        <small>948</small>
                    </li>
                    <li>
                        <mark>Brandon Barnes</mark>
                        <small>750</small>
                    </li>
                    <li>
                        <mark>Raymond Knight</mark>
                        <small>684</small>
                    </li>
                    <li>
                        <mark>Trevor McCormick</mark>
                        <small>335</small>
                    </li>
                    <li>
                        <mark>Andrew Fox</mark>
                        <small>296</small>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</body>

</html>