<!DOCTYPE html>
<html>


<!-- Mirrored from demo.tutorialzine.com/2015/07/7-clean-and-responsive-forms/form-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Sep 2021 19:06:36 GMT -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login Form</title>

    <link rel="stylesheet" href="SignUp Page/assets/demo.css">
    <link rel="stylesheet" href="SignUp Page/assets/form-login.css">

</head>


<!-- <header>
    <h1>Freebie: 7 Clean and Responsive Forms</h1>
    <a href="https://tutorialzine.com/2015/07/freebie-7-clean-and-responsive-forms/">Download</a>
</header>

<ul>
    <li><a href="index.html">Basic</a></li>
    <li><a href="form-register.html">Register</a></li>
    <li><a href="form-login.html" class="active">Login</a></li>
    <li><a href="form-mini.html">Mini</a></li>
    <li><a href="form-labels-on-top.html">Labels on Top</a></li>
    <li><a href="form-validation.html">Validation</a></li>
    <li><a href="form-search.html">Search</a></li>
</ul> -->


<div class="main-content">

    <!-- You only need this form and the form-login.css -->

    <div class="mx-auto container flex items-center" id="nav">
        <div class="w-full pt-2 p-4">

            <div class="mx-auto md:p-6 md:w-1/2">
                <div class="flex flex-wrap justify-between mb-5">
                    <h1 class="text-2xl text-white text-center">
                        Login
                    </h1>
                </div>

                <div class="bg-gray-900 shadow-md rounded px-8 pt-6 pb-8 mb-4">
                    <form>
                        <div class="mb-8">
                            <div class="mt-1 relative rounded-md shadow-sm">
                                <input id="email" type="email" class="block text-white pr-10 shadow appearance-none border-2
                                border-blue-500 rounded w-full py-2 px-4 mb-3 leading-tight focus:outline-none
                                bg-gray-600 transition duration-500 ease-in-out" name="email" placeholder="Email ID" />
                            </div>
                        </div>
                        <div class="mb-8">
                            <div class="mt-1 relative rounded-md shadow-sm">
                                <input id="password" type="password" class="block text-white pr-10 shadow appearance-none border-2
                                border-blue-500 rounded w-full py-2 px-4 mb-3 leading-tight focus:outline-none
                                bg-gray-600 transition duration-500 ease-in-out" name="password"
                                    placeholder="password" />
                            </div>
                        </div>

                        <div class="mb-4 text-center">
                            <button
                                class="transition duration-500 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                type="submit">
                                Submit
                            </button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>


<!-- Demo ads. Please ignore and remove. -->
<script src="SignUp Page/ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="SignUp Page/tutorialzine.com/misc/enhance/v3.js" async></script>

</body>


<!-- Mirrored from demo.tutorialzine.com/2015/07/7-clean-and-responsive-forms/form-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Sep 2021 19:06:37 GMT -->

</html>