<!DOCTYPE html>
<html>


<!-- Mirrored from demo.tutorialzine.com/2015/07/7-clean-and-responsive-forms/form-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Sep 2021 19:06:36 GMT -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login Form</title>

    <link rel="stylesheet" href="SignUp Page/assets/demo.css">
    <link rel="stylesheet" href="SignUp Page/assets/form-login.css">

</head>


<!-- <header>
    <h1>Freebie: 7 Clean and Responsive Forms</h1>
    <a href="https://tutorialzine.com/2015/07/freebie-7-clean-and-responsive-forms/">Download</a>
</header>

<ul>
    <li><a href="index.html">Basic</a></li>
    <li><a href="form-register.html">Register</a></li>
    <li><a href="form-login.html" class="active">Login</a></li>
    <li><a href="form-mini.html">Mini</a></li>
    <li><a href="form-labels-on-top.html">Labels on Top</a></li>
    <li><a href="form-validation.html">Validation</a></li>
    <li><a href="form-search.html">Search</a></li>
</ul> -->


<div class="main-content">

    <!-- You only need this form and the form-login.css -->

    <form class="form-login" method="post" action="/login-Screen">

        <div class="form-log-in-with-email">

            <div class="form-white-background">

                <div class="form-title-row">
                    <h1>Log in</h1>
                </div>

                <div class="form-row">
                    <label>
                        <span>Email</span>
                        <input type="email" name="email">
                    </label>
                </div>

                <div class="form-row">
                    <label>
                        <span>Password</span>
                        <input type="password" name="password">
                    </label>
                </div>

                <div class="form-row">
                    <button type="submit">Log in</button>
                </div>

            </div>

            <a href="#" class="form-forgotten-password">Forgotten password &middot;</a>
            <a href="#" class="form-create-an-account">Create an account &rarr;</a>

        </div>

        <div class="form-sign-in-with-social">

            <div class="form-row form-title-row">
                <span class="form-title">Sign in with</span>
            </div>

            <a href="#" class="form-google-button">Google</a>
            <a href="#" class="form-facebook-button">Facebook</a>
            <a href="#" class="form-twitter-button">Twitter</a>

        </div>

    </form>

</div>


<!-- Demo ads. Please ignore and remove. -->
<script src="SignUp Page/ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="SignUp Page/tutorialzine.com/misc/enhance/v3.js" async></script>

</body>


<!-- Mirrored from demo.tutorialzine.com/2015/07/7-clean-and-responsive-forms/form-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Sep 2021 19:06:37 GMT -->

</html>