/*
 * Reference - https://codepen.io/supah/pen/WwrJpw
 */

/* basic */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font: 16px/1.2 "Roboto", sans-serif;
  color: #333;
}
a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}
.blog {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* container */
.container {
  width: 300px;
  height: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: hidden;
}

/* leaderboard */
.leaderboard {
  background: linear-gradient(to bottom, #3a404d, #181c26);
}

/* head */
.leaderboard .head {
  padding: 20px 16px;
  color: snow;
  font-size: 20px;
  text-align: center;
}
.leaderboard .head h1 {
  display: inline-block;
  margin-left: 4px;
}

/* body */
.leaderboard .body {
  color: snow;
  font-size: 16px;
}
.leaderboard ol {
  counter-reset: number; /* 定義和初始化計數器 */
}
.leaderboard li {
  padding: 16px;
  display: flex;
}
.leaderboard li mark {
  flex-grow: 1;
  color: snow;
  background-color: transparent;
}
.leaderboard li:before {
  counter-increment: number; /* 遞增計數器 */
  content: counter(number) "."; /* 顯示計數器 */
  margin-right: 4px;
}
.leaderboard li:nth-child(1) {
  background: #fa6855;
}
.leaderboard li:nth-child(2) {
  background: #e0574f;
}
.leaderboard li:nth-child(3) {
  background: #d7514d;
}
.leaderboard li:nth-child(4) {
  background: #cd4b4b;
}
.leaderboard li:nth-child(5) {
  background: #c24448;
}
